body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* ========== colors ======= */
  --primary-color:hsl(199,100%,33%);
  --secondary-color:hsl(187,85%,43%);
  --gradientcolor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
  --white-color:hsl(0,0%,100%);
  --black-color:hsl(201,33%,16%);
  --text-color:hsl(240,4%,36%);
  --white-color-Deam:hsl(0,0%,92%);
  --gray-text:rgb(190,190,190);
  --input-color:rgb(239,239,239);
  --body-color:rgb(240,240,246);
  --card-bg:rgb(225,225,235);


   /* ========== fonts and typography ======= */
 --body-font:'Rubik',sans-serif;
 --h1-font-size:2.25rem;
 --h2-font-size:1.5rem;
 --h3-font-size:1.25rem;
 --normal-font-size:1rem;
 --small-font-size:0.875rem;
 --smaller-font-size:0.813rem;
   
 --font-medium:500;
 --font-semibold:600;
 --font-bold:700;

  --shadow:0px 5px 20px 0px rgb(69 67 96/10%);

--border-radius:20px;

}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

[data-theme="dark"]{
 
}

 /* ========== responsive typography ========== */
@media screen and (max-width: 1024px){
  :root{
    --h1-font-size:1.75rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --small-font-size:0.813rem;
    --smaller-font-size:0.75rem;
  }
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid ;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}

.section{
  padding: 4rem  1.2rem !important;
}

.btn{
  padding: 0.6rem 1.5rem;
  background: var(--gradientcolor) !important;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a{
  color: var(--white-color);
  font-weight: 500;
}
.btn:hover{
  background-color: var(--secondary-color);
}
img,video{
  width: 100%;
  height: auto;
}
input{
  font-size: 100%;
}
body{
  background-color: var(--body-color);
}



@media screen and (min-width:1240px) {
  .container{
    width: 80% !important;
    margin: auto !important;
  }  

  .section{
    padding:  6rem 0  4rem;
  }
}


@media screen and (min-width:2560px){
  
  body{
    zoom: 1.7;
  }
}